@{
    ViewBag.Title = "Home";
}

<h3 class="text-center text-uppercase">List of employees</h3>

<div class="mb-2">
    <b>Show/Hide Column : </b>
    <a class="showHideColumn" data-columnindex="0">Id</a> -
    <a class="showHideColumn" data-columnindex="1">Name</a> -
    <a class="showHideColumn" data-columnindex="2">Position</a> -
    <a class="showHideColumn" data-columnindex="3">Office</a> -
    <a class="showHideColumn" data-columnindex="4">Age</a> -
    <a class="showHideColumn" data-columnindex="5">Start Date</a> -
    <a class="showHideColumn" data-columnindex="6">Salary</a> -
</div>

<table id="example" class="table table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start Date</th>
            <th>Salary</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var datatableInstance = $('#example').DataTable({
                "ajax": {
                    "url": '/Home/GetData',
                    "type": 'GET',
                    "dataType": 'json',
                },
                "columns": [
                    { 'data': 'Id' },
                    { 'data': 'Name' },
                    { 'data': 'Position' },
                    { 'data': 'Office' },
                    { 'data': 'Age' },
                    {
                        'data': 'StartDate',
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        }
                    },
                    {
                        'data': 'Salary',
                        'render': function (salary) {
                            return '$' + salary;
                        }
                    }
                ]
            });

            $('.showHideColumn').on('click', function (e) {
                e.preventDefault();

                var tableColumn =
                    datatableInstance.column($(this).attr('data-columnindex'));
                tableColumn.visible(!tableColumn.visible());
            });
        });
    </script>
}